$window-width: 15em;

$color-main: rgb(37, 37, 37);
$color-main-hover: rgb(60, 60, 60);

$text-color: #bbb;
$text-color-active: #fff;
$text-color-minimized: #666;

$border-radius: 2px;
$border-color: rgba(255,255,255,0.3);
$border-color-active: rgba(255,255,255,0.5);